---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [15]:
df[0]

'03/25/93 Total time of visit (in minutes):\n'

In [189]:
one = "\d{1,4}?/\d{1,4}?/\d{1,4}"
two = "(?:\d{1,4})?(?:Jan|Feb|Mar|april|May|June|July|Aug|Sep|Oct|Nov|Dec)[a-z]*?(?: |.|,|-)?(?: |.|,|-)?\d{1,4}[a-z]*?(?:.| |,|-)?[ ,-/.]\d{1,4}"
three = "(?:\d{1,4})(?: |.|,)?(?:Jan|Feb|Mar|april|May|June|July|Aug|Sep|Oct|Nov|Dec)[a-z]?(?: |.|,)?(?: |.|,)?(?: |.|,)\d{1,4}"
four = "(?:\d{1,4})(?: |.|,)?(?:\d{1,4})"
a = df[:].str.findall(r''+one+'|'+two+'|'+three+'|'+four+'')
counter = []
for i in a:
    if len(i) >= 1:
        counter.append(i[0].strip())
        
print(len(counter))
counter

500

['03/25/93',
 '6/18/85',
 '7/8/71',
 '9/27/75',
 '2/6/96',
 '7/06/79',
 '5/18/78',
 '10/24/89',
 '3/7/86',
 '4/10/71',
 '5/11/85',
 '4/09/75',
 '8/01/98',
 '1/26/72',
 '5/24/1990',
 '1/25/2011',
 '4/12/82',
 '10/13/1976',
 '4/24/98',
 '59',
 '7/21/98',
 '10/21/79',
 '3/03/90',
 '2/11/76',
 '07/25/1984',
 '4-13',
 '9/22/89',
 '9/02/76',
 '9/12/71',
 '10/24/86',
 '03/31/1985',
 '7/20/72',
 '4/12/87',
 '06/20/91',
 '5/12/2012',
 '3/15/83',
 '2/14/73',
 '5/24/88',
 '7/27/1986',
 '1-14',
 '7-29',
 '6/24/87',
 '8/14/94',
 '4/13/2002',
 '8/16/82',
 '2/15/1998',
 '7/15/91',
 '06/12/94',
 '9/17/84',
 '2/28/75',
 '11/22/75',
 '5/24/91',
 '6/13/92',
 '7/11/71',
 '12/26/86',
 '10/11/1987',
 '3/14/95',
 '12/01/73',
 '12/5/2010',
 '08/20/1982',
 '7/24/95',
 '8/06/83',
 '02/22/92',
 '6/28/87',
 '07/29/1994',
 '08/11/78',
 '10/29/91',
 '7/6/91',
 '1/21/87',
 '24',
 '7/04/82',
 '4-13',
 '0.25',
 '4/12/74',
 '09/19/81',
 '9/6/79',
 '12/5/87',
 '01/05/1999',
 '4/22/80',
 '10/04/98',
 '10-15',
 '8/04/78',
 '7/07/1974',
 '09/14/2000',
 '5/18/71',
 '8/09/1981',
 '6/05/93',
 '100',
 '12/8/82',
 '8/26/89',
 '10/13/95',
 '4/19/91',
 '04/08/2004',
 '9/20/76',
 '12/08/1990',
 '4/11/1974',
 '7/18/86',
 '3/31/91',
 '5/13/72',
 '011/14/83',
 '8/16/92',
 '10/05/97',
 '07/18/2002',
 '9/22/82',
 '2/24/74',
 '2/03/78',
 '2/11/2006',
 '21',
 '5/04/74',
 '7/20/2011',
 '6/17/95',
 '6/10/72',
 '10/16/82',
 '12/15/92',
 '12/8/97',
 '4/05/89',
 '12/04/87',
 '6/20/77',
 '4/27/2006',
 '07/17/92',
 '12/22/98',
 '10/02/96',
 '11/05/90',
 '5/04/77',
 '2/27/96',
 '44',
 '10 Sep 2004',
 '26 May 1982',
 '28 June 2002',
 '06 May 1972',
 '25 Oct 1987',
 '14 Oct 1996',
 '30 Nov 2007',
 '28 June 1994',
 '14 Jan 1981',
 '10 Oct 1985',
 '11',
 '10 Feb 1983',
 '49',
 '21 Oct 2012',
 '14 Feb 1995',
 '30 May 2016',
 '22 Jan 1996',
 '14 Oct 1992',
 '06 Oct 2003',
 '18 Oct 1999',
 '11 Nov 2004',
 '30 May 2001',
 '02 Feb 1978',
 '09 Sep 1989',
 '12 March 1980',
 '22 June 1990',
 '28 Sep 2015',
 '13 Jan 1972',
 '06 Mar 1974',
 '10 Oct 1974',
 '26 May 1974',
 '10 Feb 1990',
 '23 Aug 2000',
 '26 May 2001',
 '21 Oct 2007',
 '19 Oct 2016',
 '05 Mar 1974',
 '29 Jan 1994',
 '21 Oct 1978',
 '18 August 1975',
 '11 Nov 1996',
 '01 Oct 1979',
 '13 Oct 1986',
 '21 Oct 1995',
 '44',
 '04 Oct 1972',
 '23 Aug 1993',
 '18 Oct 2006',
 '04 Dec 1988',
 '21 Oct 1983',
 '26 May 2010',
 '22',
 '15',
 '10 Dec 1982',
 '09 Dec 1988',
 '18 August 1995',
 '13 June 1974',
 '26 May 2008',
 '11 Nov 2002',
 '17 Aug 1985',
 '13 Oct 2016',
 '14 Jan 2008',
 '12 March 2004',
 '21 Oct 1977',
 '10 Aug 2000',
 '30 Nov 1972',
 '06 May 1993',
 '22',
 '11',
 'May 30, 2001',
 'Feb 18, 1994',
 'February 18, 1981',
 'October. 11, 2013',
 'Jan 24 1986',
 'July 26, 1978',
 'December 23, 1999',
 'May 15, 1989',
 'September 06, 1995',
 'Mar. 10, 1976',
 'Jan 27, 1983',
 'October 23 1990',
 'August 12 2004',
 'September 01, 2012',
 'July 25, 1983',
 'August 11, 1989',
 '17',
 'July 24, 1999',
 'July 11, 1997',
 '22',
 'August 14, 1981',
 'Nov 11, 1988',
 'June 13, 2011',
 'May 14, 1989',
 'Dec 14 1975',
 'June 25, 2012',
 'Oct 18, 1980',
 'May 15, 1998',
 '20',
 'July 25, 1998',
 'June 15, 1972',
 'January 07, 1991',
 'September. 15, 2011',
 '20',
 '2011',
 '12',
 '50',
 '1977',
 '1990',
 '2003',
 '2015',
 '1995',
 '1976',
 '1995',
 '1978',
 '37.5',
 '2004',
 '2010',
 '2012',
 '27',
 '1990',
 '1981',
 '1983',
 '50-100',
 '1993',
 '2005',
 '1998',
 '2007',
 '2016',
 '12',
 '2014',
 '1988',
 '2015',
 '1976',
 '1979',
 '2000',
 '1986',
 '2002',
 '1981',
 '2007',
 '10',
 '1999',
 '1980',
 '2009',
 '1992',
 '2006',
 '708-810',
 '2,000',
 '100',
 '1985',
 '25',
 '1986',
 '2007',
 '1974',
 '2013',
 '1985',
 '2004',
 '50',
 '1977',
 '1987',
 '1983',
 '2013',
 '2010',
 '2009',
 '2007',
 '2011',
 '2004',
 '1995',
 '2008',
 '1983',
 '1983',
 '1979',
 '50',
 '1993',
 '1974',
 '1994',
 '1992',
 '2004',
 '20',
 '2002',
 '2000',
 '2004',
 '2006',
 '1994',
 '504',
 '1992',
 '20',
 '8:30',
 '1978',
 '2007',
 '1976',
 '2011',
 '18',
 '1978',
 '1975',
 '50',
 '2June, 1999',
 '1991',
 '1973',
 '1996',
 '2007',
 '80',
 '1999',
 '2001',
 '2000',
 '10',
 '40',
 '1974',
 '1997',
 '1986',
 '1973',
 '0.03',
 '2007',
 '1998',
 '50',
 '1980',
 '2007',
 '1976',
 '6/1998',
 '52',
 '10/1973',
 '9/2005',
 '03/1980',
 '12/2005',
 '5/1987',
 '5/2004',
 '28',
 '3/1986',
 '10/1997',
 '3/1993',
 '3/1981',
 '9/2003',
 '10/1993',
 '1/1983',
 '7/1994',
 '12/2008',
 '10/1980',
 '8/2003',
 '12/1975',
 '11/2010',
 '7/1997',
 '7/2014',
 '9/2001',
 '8/1986',
 '1/1978',
 '9/1975',
 '73',
 '5/1995',
 '3-4',
 '11/2000',
 '06/1973',
 '2/1999',
 '59',
 '45',
 '8/2009',
 '7/1973',
 '1/2014',
 '09/1975',
 '12/2012',
 '5/1999',
 '7/1989',
 '7/2009',
 '11/1998',
 '3/1995',
 '2/2009',
 '08/1988',
 '4/2007',
 '0.67',
 '4/2012',
 '10/2001',
 '2/1977',
 '8/2008',
 '2/1983',
 '5/1979',
 '1/1992',
 '11/2008',
 '12/2014',
 '4/1974',
 '10/1981',
 '10/1986',
 '03/1973',
 '12/1994',
 '8/1999',
 '10/2010',
 '10/1994',
 '01/2007',
 '8/2010',
 '03/1990',
 '11/2016',
 '4/2004',
 '2/1973',
 '7/1987',
 '8/2000',
 '8/1975',
 '5/1977',
 '3/2000',
 '9/1984',
 '4/1973',
 '12/1986',
 '4/1979',
 '7/2004',
 '11/1984',
 '5/2016',
 '12/2007',
 '11/1982',
 '06/1981',
 '445',
 '76',
 '5/2006',
 '10/1978',
 '12/1989',
 '2/1974',
 '11/1986',
 '4/1983',
 '10/2014',
 '6/1989',
 '9/1980',
 '9/1992',
 '30',
 '7/1981',
 '1/2008',
 '4/2002',
 '2/2',
 '5/2010',
 '8/2002',
 '1/1994',
 '12/2004',
 '16',
 '7/1991',
 '7/1982',
 '1984',
 '2000',
 '2001',
 '1982',
 '1998',
 '2012',
 '16',
 '1988',
 '25',
 '2016',
 '19',
 '1981',
 '2011',
 '1997',
 '2003',
 '1983',
 '1999',
 '2010',
 '1975',
 '1972',
 '2015',
 '1989',
 '14',
 '1993',
 '1996',
 '2013',
 '1974',
 '1990',
 '1995',
 '2004',
 '1987',
 '1973',
 '1992',
 '1977',
 '35',
 '12 969',
 '2009',
 '1986',
 '1978',
 '2002',
 '1979',
 '2006',
 '2008',
 '2005',
 '1980']

In [171]:
import re
text = ["04/20/2009", "04/20/09", "4/20/09", "4/3/09",
"Mar-20-2009", "Mar 20, 2009", "March 20, 2009", "Mar. 20, 2009", "Mar 20 2009",
"20 Mar 2009", "20 March 2009", "20 Mar. 2009", "20 March, 2009",
"Mar 20th, 2009", "Mar 21st, 2009", "Mar 22nd, 2009",
"Feb 2009", "Sep 2009", "Oct 2010",
"6/2008", "12/2009"
"2009","2010"]

In [180]:
one = "\d{1,4}?/\d{1,4}?/\d{1,4}"
two = "(?:\d{1,4})?(?:Jan|Feb|Mar|april|May|June|July|Aug|Sep|Oct|Nov|Dec)[a-z]*?(?: |.|,|-)?(?: |.|,|-)?\d{1,4}[a-z]*?(?:.| |,|-)?[ ,-/.]\d{1,4}"
three = "(?:\d{1,4})?(?: |.|,)?(?:Jan|Feb|Mar|april|May|June|July|Aug|Sep|Oct|Nov|Dec)[a-z]?(?: |.|,)?(?: |.|,)?(?: |.|,)\d{1,4}"
four = "(?:\d{1,4})?(?: |.|,)?(?:\d{1,4})"
for i in text:
    print(re.findall(r''+one+'|'+two+'|'+three+'|'+four+'', i))

['04/20/2009']
['04/20/09']
['4/20/09']
['4/3/09']
['Mar-20-2009']
['Mar 20, 2009']
['March 20, 2009']
['Mar. 20, 2009']
['Mar 20 2009']
['20 Mar 2009']
['20 March 2009']
['20 Mar. 2009']
['20 March, 2009']
['Mar 20th, 2009']
['Mar 21st, 2009']
['Mar 22nd, 2009']
['Feb 2009']
['Sep 2009']
['Oct 2010']
['6/2008']
['12/2009', '2009']
['2010']

In [3]:
def date_sorter():
    
    # Your code here
    
    return # Your answer here